*{
    box-sizing: border-box;
}
img{
    width: 846px;
    height: 400px;
}

iframe{
    width: 846px;
    height: 400px; 
}

.ptag{
    font-size: 20px;
    font-weight: bold;
}

span{
    font-weight: lighter;
    font-size: 20px;
}

p{
    font-size: 20px;
}

a{
    text-decoration: none;
}

button{
    display: block;
    width: 188px;
    height: 40px;
    background-color: green;
    /* olor: white; */
    font-size: 25px;
    border-color: white;
    border-radius: 7px;
    margin-top: 10px;
}

.btn{
    color: white;
}

h1{
    font-size: 50px;
}
div{
    align-content: center;
}
